.options {
   border-radius: 5px;
   border-width: 2px !important;
   margin: 0 auto;
   max-width: 550px;
   min-height: 0;
   padding: 5px;
   box-sizing: border-box;
}

@media (max-width: 600px) {
   .options {
      width: 96%;
   }
}
