.notification {
   width: 260px;
   margin: 10px 0 0;
   padding: 0;
}

.notification:not(:last-child) {
   margin-bottom: 0;
}

.notification-container {
   z-index: 10000 !important;
   top: 0;
   right: 10px;
}

@media (max-width: 500px) {
   .notification-container {
      top: unset;
      bottom: 10px;
   }
}
